mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer 
            img(src=userLoggedIn.profilePic , alt="Users profile image")
        .textAreaContainer 
            textarea#postTextArea(placeholder= "What's happening?")
            .buttonContainer 
                button#submitPostButton(disabled="") Post 